@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@300;500;600;700&display=swap');

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 3.5s, visibility 7s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #13693e;
    border-radius: 50%;
    animation: loading 5s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #0000;
    color: #0000;
}

/*HEADER*/

#header{
    width: 100%;
    height: 100vh;
    background-image: url(assets/93.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: #fff;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #13693e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 50px;
    color: #fff;
    text-align: left;
}

.header-text h1 {
    font-size: 70px;
    margin-top: 20px;
}

.header-text p{
    font-size: 35px;
}

/*ABOUT*/

#about{
    padding: 80px 0;
    color: #ababab;
    background-color: #000000;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;  
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.title-color{
    color: #13693e;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #13693e;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #13693e;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*SERVICES*/

#services{
    padding: 30px 0;
    background-color: #000000;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #13693e;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #000000;
    color: #13693e;
    transform: translateY(-10px);
}

/*PORTFOLIO*/

#portfolio{
    padding: 50px 0;
    background-color: #000000;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #13693e);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.layer a{
    margin-top: 20px;
    color: #13693e;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn3 {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #13693e;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn3:hover{
    background: #13693e;
}

/*CONTACT*/

#contact{
    background: #000000;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #fff;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #fff;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #13693e;
}

.contact-right form {
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #13693e;
    font-size: 18px;
    border-radius: 6px;
}

form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #000000;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}

/*SMALL SCREEN*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(assets/93.jpg);
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        margin-right: 20px;
    }
    nav ul{
        background: #000000;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright {
        font-size: 14px;
    }
    .services-list div{
        background: #13693e;
        padding: 40px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 10px;
        transition: background 0.5s, transform 0.5s;
    }
    .services-list div:hover{
        background: #000000;
        color: #13693e;
        transform: translateY(-10px);
    }

    .layer {
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.6), #13693e);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    }
    
    .layer h3{
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
        color: #ffffff;
    }
    
    .layer a{
        margin-top: 20px;
        color: #13693e;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    }
    
    .work:hover img{
        transform: scale(1.1);
    }
    
    .work:hover .layer{
        height: 100%;
    }

    .wrapper {
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }

    .header-text{
        font-size: 20px;
        font-weight: 600;
        margin-top: 50%;
        overflow: hidden;
    }

    .header-text p{
        font-size: 20px;
    }

    .container .text{
        position: relative;
        color: #13693e;
        font-size: 20px;
        font-weight: 600;
        margin-top: -50px;
    }
    .container .text.first-text{
        color: #FFF;
    }
    .text.sec-text:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-left: 4px solid #fff;
        animation: animate 4s steps(12) infinite;
    }
    @keyframes animate{
        40%, 60%{
            left: calc(100% + 4px);
        }
        100%{
            left: 0%;
        }
    }
}

:root {
    --container: 112rem;
    --m-auto: 0 auto;
    --white: #fff;
    --bg-hero: #bababa;
    --bg-counter: #000000;
    --bg-item: #13693e;
}
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    color: var(--white);
    font-size: 1.6rem;
    box-sizing: border-box;
}
.container {
    max-width: var(--container);
    margin: var(--m-auto);
    padding: 20px 1rem;
}
section:not(#section_counter) {
    height: 100vh;
}
.section-heading {
    font-size: 4rem;
}
#section_counter {
    padding: 5rem 0;
    background: var(--bg-counter);
}
#section_counter .section-heading {
    padding-bottom: 5rem;
    text-align: center;
    letter-spacing: 0.1rem;
}
.counter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
  
.counter-item {
    background: var(--bg-item);
    padding: 3rem 1.5rem;
    text-align: center;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    transform: translateY(6rem);
}
.counter-img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    filter: drop-shadow(0 0 0.2rem var(--bg-hero));
}
.counter-img:nth-child(1) {
    width: 9rem;
    height: auto;
}
.counter-item:hover {
    background: var(--bg-hero);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.counter-item .counter {
    font-size: 4.5rem;
    color: transparent;
    color: transparent;
    letter-spacing: 0.5rem;
    -webkit-text-stroke-width: 0.15rem;
    -moz-text-stroke-width: 0.15rem;
    -ms-text-stroke-width: 0.15rem;
    -o-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: var(--white);
    -moz-text-stroke-color: var(--white);
    -ms-text-stroke-color: var(--white);
    -o-text-stroke-color: var(--white);
}
  
@keyframes slide-up {
    0% {
        transform: translateY(6rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

#msg{
    color: #13693e;
    margin-top: 20px;
    display: block;
    font-size: 16px;
}

.fa-diagram-project{
    font-size: 40px;
    color: #fff;
}

.fa-medal {
    font-size: 40px;
    color: #fff;
}

.fa-flask-vial{
    font-size: 40px;
    color: #fff;
}

.container .text{
    position: relative;
    color: #13693e;
    font-size: 80px;
    font-weight: 600;
}
.container .text.first-text{
    color: #FFF;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 8px solid #fff;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}